<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ITransaccion" />
                <binding name="BasicHttpBinding_ITransaccion1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:1378/Transaccion.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_ITransaccion" contract="ws.ITransaccion"
                name="BasicHttpBinding_ITransaccion" />
            <endpoint address="http://localhost:1378/Transaccion.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_ITransaccion1" contract="Service.ITransaccion"
                name="BasicHttpBinding_ITransaccion1" />
        </client>
    </system.serviceModel>
</configuration>